/* PLANO */
.plano {
    padding: 10px;
    border: 1px solid #95a4a5;
}

.plano__cabecalho {
    /* Display e Box Model */
    margin: -10px;
    margin-bottom: 0;

    /* Cores */
    background-color: #95a4a5;
    color: #fff;

    /* Texto */
    text-align: center;
    line-height: 2.5;
    font-weight: normal;
    font-size: 28px;
}

.plano__preco {
    /* Display e Box Model */
    margin: 20px 0px;

    /* Texto */
    text-align: center;
    font-size: 28px;

}

.plano__caracteristicas {
    /* Display e Box Model */
    padding: 0;
    margin: 20px 0px;

    /* Outros */
    list-style: none;
}

.plano__caracteristicas>li {
    text-align: center;
}

.plano__rodape {
    text-align: center;
}

/* BOTÃO */
.botao {
    /* Display e Box Model */
    display: inline-block;
    padding: 12px 16px;

    /* Cores */
    background-color: #bbb;
    color: #fff;

    /* Texto */
    text-decoration: none;
}

.botao:hover,
.botao:focus {
    /* Cores */
    background-color: #aaa;
    color: #fff;

    /* Texto */
    text-decoration: none;
}

.botao--assinar {
    background-color: #127d00;
}

.botao--assinar:hover,
.botao--assinar:focus {
    background-color: #0e6400;
}